@import "../../../scss/tools";
@include calendarTableStyles();
.cell.time-cell {
  width: 5%;
  border-left: none;
  border-bottom: 2px;
  font-size: 12px !important;
  text-wrap: nowrap;
  text-align: left;
}

